/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables/variables";
@import "variables/listas";
@import "variables/mixin";

// BODY //

.grid-container{
  @include grid-body
}
  
/* Header (grid-item)*/

.grid-header {

  div.flexbox-container{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: $background-color2;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    
    img{
      height: 20vh;
      border-bottom: 15px;
      align-items: flex-start;
      }

    div span {
        color:rgb(219, 217, 217);

        div a{
            text-decoration:rgb(219, 217, 217);
            color: $color-secundario;

        }
      }
    
    .dropdown {
    order:2;
    position: relative;
    display: inline-block;
}
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
}
}

/* Main */

.grid-main{

  h1{
    background-color: rgb(219, 217, 217);
    color: $color-principal;
    text-align: center;
    height: 10vh;
    align-content: center;
    font-size: 25px;
      }

  h2{
      color: $color-principal;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

  li {
    display: inline-block;
  }

  a {
    display: inline-flex;
    padding: 6px 12px;
    color: $color-principal;
  }

  p{
    justify-content:center;
  }


/* .flexbox-videoteca{
  display: flex;
  //align-content: center;
  //justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap;

  .flexbox-video{
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    p{
      text-align: center;
    }
  }

 }
*/
/* Footer */

.grid-footer {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

}


//

/* MEDIA QUERIES: mobile, tablet, desktop */

//
  Media Queries {
    margin: 0;
    padding: 0;
    list-style: none;

  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

 //